html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(218, 8, 8);
}

canvas {
  display: block;
  margin: auto;
  border: 8px solid black;
}

div {
  transform: scale(0.5); /* Scale down to 50% */
  transform-origin: 50% 50%; /* Keep scaling centered */
}